<header class="sticky-top">
  <nav class="navbar navbar-light">
    <a class="navbar-brand">PHOTOBOOK <i class="fa fa-book"></i></a>
    <div *ngIf="user$ | async as user">
      <div *ngIf="user.name; else login">
        <i class="fa fa-user-circle m-2 cor-verde"></i>
        <a class="m-2 cor-verde">{{user.name}}</a>
        <a class="cor-verde m-2" (click)="logout()">Sair</a>
      </div>
    </div>
    <div class="linha-horizontal"></div>
  </nav>

  <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="['']" class="login">
        <span>Login</span>
      </a>
    </span>
  </ng-template>
</header>

