<div class="right-login">
  <div class="card-login">
    <h1>Login</h1>
    <form class="form" (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form-group">
        <label for="usuario" class="mt-2 mb-2">Usuário</label>
        <input class="form-control"
              type="text"
              name="usuario"
              placeholder="Usuário"
              [(ngModel)]="usuario"
              #campoUsuario="ngModel"
              required>
      <app-mensagem mensagem="Usuário obrigatório"
                    *ngIf="campoUsuario.invalid && campoUsuario.invalid">

      </app-mensagem>
      </div>
      <div class="form-group">
        <label for="senha" class="mt-2 mb-2">Senha</label>
        <input class="form-control"
              type="password"
              name="senha"
              placeholder="Senha"
              [(ngModel)]="senha"
              #campoSenha="ngModel"
              required>
      <app-mensagem mensagem="Senha Obrigatória"
                    *ngIf="campoSenha.invalid && campoSenha.touched">

      </app-mensagem>
      </div>
      <button type="submit" class="btn btn-primary col-12 mt-4"
              [disabled]="loginForm.invalid">
        Login
      </button>
    </form>
    <p class="mt-2">Não é um usuário? <a [routerLink]="['novousuario']">Registre-se</a></p>
  </div>
</div>
