<div class="right-login">
  <div class="card-login">
    <h1>Login</h1>
    <form>
      <div class="form-group">
        <label for="usuario" class="mt-2 mb-2">Usuário</label>
        <input class="form-control" type="text" name="usuario" placeholder="Usuário">
      </div>
      <div class="form-group">
        <label for="senha" class="mt-2 mb-2">Senha</label>
        <input class="form-control" type="password" name="senha" placeholder="Senha">
      </div>
      <button class="btn btn-primary col-12 mt-4">Login</button>
    </form>
  </div>
</div>
