<div class="right-login">
  <div class="card-login">
    <h5 class="text-center">Registre-se
      <br>
      E compartilhe suas melhores lembranças
      com o PHOTOBOOK <i class="fa fa-heart"></i></h5>
    <form class="form" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
      <div class="form-group">
        <label for="email" class="mt-2 mb-2">Email</label>
        <input class="form-control"
              type="email"
              name="email"
              placeholder="Email"
              required
              formControlName="email">
      <app-mensagem mensagem="Email obrigatório" *ngIf="novoUsuarioForm.get('email')?.errors?.required &&
                          novoUsuarioForm.get('email')?.touched">

      </app-mensagem>
      <app-mensagem mensagem="Email no formato incorreto" *ngIf="novoUsuarioForm.get('email')?.errors?.email &&
                          novoUsuarioForm.get('email')?.touched">

      </app-mensagem>
      </div>
      <div class="form-group">
        <label for="nome" class="mt-2 mb-2">Nome Completo</label>
        <input class="form-control"
              type="text"
              name="nome"
              placeholder="Nome completo"
              required
              minlength="4"
              formControlName="fullName">
      <app-mensagem mensagem="Nome incorreto"
                    *ngIf="novoUsuarioForm.get('fullName')?.errors?.required && novoUsuarioForm.get('fullName')?.touched">

      </app-mensagem>
      <app-mensagem mensagem="Nome deve ser maior que 3 caracteres"
                    *ngIf="novoUsuarioForm.get('fullName')?.errors?.minlength && novoUsuarioForm.get('fullName')?.touched">

      </app-mensagem>
      </div>
      <div class="form-group">
        <label for="usuario" class="mt-2 mb-2">Usuário</label>
        <input class="form-control"
              type="text"
              name="usuario"
              placeholder="Usuário"
              required
              formControlName="userName">
        <app-mensagem mensagem="Usuário deve ser letra minúscula"
                    *ngIf="novoUsuarioForm.get('userName')?.errors?.minusculo && novoUsuarioForm.get('userName')?.touched">

        </app-mensagem>
        <app-mensagem mensagem="Usuário já existe"
                      *ngIf="novoUsuarioForm.get('userName')?.errors?.usuarioExistente">

        </app-mensagem>
      </div>
      <div class="form-group">
        <label for="senha" class="mt-2 mb-2">Senha</label>
        <input class="form-control"
              type="password"
              name="senha"
              placeholder="Senha"
              required
              minlength="4"
              formControlName="password">
          <app-mensagem mensagem="Senha deve ser maior que 3 caracteres"
                        *ngIf="novoUsuarioForm.get('password')?.errors?.minlength && novoUsuarioForm.get('password')?.touched">

          </app-mensagem>
          <app-mensagem mensagem="Senha deve ser diferente do usuário"
                        *ngIf="novoUsuarioForm.errors?.senhaIgualUsuario">

          </app-mensagem>
      </div>
      <button type="submit" class="btn btn-primary col-12 mt-4">
        Cadastrar
      </button>
    </form>
    <p class="mt-2">Já é um usuário? <a [routerLink]="['']">Faça seu login</a></p>
  </div>
</div>
