.container {
  width: 100vw;
  height: 100vh;
  background: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imagem {
  width: 25vw;
}

.left-login > h3 {
  margin-top: 15%;
  font-size: 1.8vw;
  color: #77ffc0;

}

@media only screen and (max-width: 600px) {
  .main-login {
    flex-direction: column;
  }

  .left-login > h3 {
    display: none;
  }

  .left-login {
    width: 100%;
    height: auto;
  }

  .imagem {
    width: 50vw;
  }

}
